<header>
    <h2>Modifier participant</h2>
  </header>
  <form #participantForm="ngForm" (ngSubmit)="editParticipant(participantForm.value)">
      <ul>
      <i>
        <label for="nom">Nom</label>
      <input type="text" name="nom" id="nom" [(ngModel)]="participant.nom" required>
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" [(ngModel)]="participant.prenom" required>
      </i>
      <i>
      <label for=" adresse ">Adresse</label>
      <input type="text" name="adresse" id=" adresse " [(ngModel)]="participant.adresse" required>
      </i>
      <i>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" [(ngModel)]="participant.email" required>
      </i>
      <i>
        <label for="societe">Société</label>
        <input type="text" name="societe" id="societe" [(ngModel)]="participant.societe" required>
        </i>
        <i>
            <label for="poste">Poste</label>
            <input type="text" name="poste" id="poste" [(ngModel)]="participant.poste" required>
        </i>
    </ul>
    <button type="submit"[disabled]="!participantForm.form.valid">Modifier</button>
  </form>
  
