<header>
    <h2>Modifier formateur</h2>
  </header>
  <form #formateurForm="ngForm" (ngSubmit)="editformateur(formateurForm.value)">
    <ul>
      <i>
        <label for="Nom">Nom</label>
      <input type="text" name="nom" id="nom" [(ngModel)]="formateur.nom" required>
        <label for="Prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" [(ngModel)]="formateur.prenom" required>
      </i>
      <i>
      <label for=" Adress ">Adresse</label>
      <input type="text" name="adresse" id=" adresse " [(ngModel)]="formateur.adresse" required>
      </i>
      <i>
      <label for="Email">Email</label>
      <input type="text" name="email" id="email" [(ngModel)]="formateur.email" required>
      </i>
      <i>
        <label for="domaineExpertise">Domaine d'expertise</label>
        <input type="text" name="domaineExper" id="domaineExper" [(ngModel)]="formateur.domaineExper" required>
        </i>
    </ul>
    <button type="submit" [disabled]="!formateurForm.form.valid">Modifier</button>
  </form>
  
