<section>
<div style="display: flex;flex-direction: row;width: 32%;height:150px;background-color:#f17b36;margin: 10px;">
    <img src="assets/session.png" class="image" />
    <h1> {{nbs}}<br>Sessions</h1>
    
</div>
<div style="display: flex;flex-direction: row;width: 32%;height: 150px;background-color:#00a759;margin-right: 5px;margin-top: 10px;">
    <img src="assets/participants.png" class="image" />
    <h1> {{nbp}}<br>Participants</h1>
</div>
<div style="display: flex;flex-direction: row;width: 32%;height: 150px;background-color:#7b05be;margin-top: 10px;">
    <img src="assets/formateur.png" class="image" />
    <h1> {{nbf}}<br>Formateurs</h1>
</div>
</section>
<section>
<div style="margin: 50px;margin-left: 100px;">
    <table>
        <tr>
            <th style="width: 150px;">Track</th>
            <th style="width: 300px;"> Nombre de sessions</th>
        </tr>
        <tr style="height: 30px;">
            <td>MEAN Stack</td>
            <td></td>  
                     
        </tr>
        <tr style="height: 50px;background-color: rgb(233, 233, 233);">
            <td>Android</td>
            <td></td>            
        </tr>
        <tr style="height: 50px;">
            <td>Ionic</td>
            <td></td>           
        </tr>
        <tr style="height: 50px;background-color: rgb(233, 233, 233);">
            <td>Angular</td>
            <td></td>                
        </tr>
        <tr style="height: 50px;">
            <td>NideJS</td>
            <td></td>               
        </tr>
        <tr style="height: 50px;background-color: rgb(233, 233, 233);">
            <td>Xamarin</td>
            <td></td>
        </tr>
    </table>
</div>
<div style="margin: 100px;margin-left: 160px;">
    <table>
        <tr>
            <th style="width: 280px;">Top Formateurs</th>
        </tr>
        <tr style="height: 50px;">
            <td></td>            
        </tr>
        <tr style="height: 50px;background-color: rgb(233, 233, 233);">
            <td></td>            
        </tr>
    </table>
</div>
</section>